body {
    margin: 0px;
    padding: 0px;
}

header {
    background-color: #030308;
    padding-top: 25px;
    padding-bottom: 250px;
    padding-right: 100px;
    padding-left: 100px;
}

h1,
h2,
h3 {
    font-family: "Press Start 2P";
}

h1 {
    font-size: 24px;
    letter-spacing: -3px;
    color: #15F5BA;
    text-shadow: 0px 0px 7px #15F5BA;

    span {
        color: #D91656;
        text-shadow: 0px 0px 7px #D91656;
    }
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.right-side {
    display: flex;
    align-items: center;
    gap: 30px;
}

.cta {
    display: flex;
    flex-direction: row;
}

.container .cta {
    list-style-type: none;
    font-family: "Press Start 2P";
    font-size: 20px;
    letter-spacing: -2px;
    gap: 20px;
}

nav a {
    text-decoration: none;
    color: #F0F3FF;
}

.resume-button {
    background-color: transparent;
    color: #15F5BA;
    text-shadow: 0px 0px 7px #15F5BA;
    font-family: "Press Start 2P";
    border: 2px solid #15F5BA;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #15F5BA;
    padding: 10px 20px;
}

.welcome-border {
    background-color: transparent;
    width: fit-content;
    color: #15F5BA;
    text-shadow: 0px 0px 7px #15F5BA;
    font-family: "Press Start 2P";
    font-size: 13px;
    border: 2px solid #15F5BA;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #15F5BA;
    margin-bottom: 20px;
    padding: 10px 20px;
}

#home {
    background-color: #030308;
    padding-right: 100px;
    padding-left: 100px;
    padding-bottom: 100px;
}

#home p {
    display: flex;
    max-width: 700px;
    color: #F0F3FF;
    font-family: "Rajdhani";
    font-size: 30px;
    text-align: justify;
}

#home ul {
    font-size: 16px;
    display: flex;
    list-style-type: none;
    font-family: "Press Start 2P";
    padding: 0px;
    margin-bottom: 30px;
    gap: 20px;
}

.home-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
}

.home-content {
    flex: 1;
}

.view-project {
    background-color: #07cb002c;
    border: 2px solid #08CB00;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #08CB00;
    padding: 15px 20px;
}

.view-project a {
    color: #08CB00;
    text-decoration: none;
}

.hire-me {
    background-color: #d9165738;
    border: 2px solid #D91656;
    text-align: justify;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #D91656;
    padding: 15px 20px;
}

.hire-me a {
    color: #D91656;
    text-decoration: none;
}

.brand-logo a {
    border: 2px solid #F0F3FF;
    border-radius: 5px;
    padding: 15px;
}

.home-image img {
    max-width: 400px;
    border-radius: 12px;
    box-shadow: 0px 0px 7px #F0F3FF;
}

/* ABOUT SECTION */

#about {
    margin: 0px;
    background-color: #070712;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

.heading-border {
    background-color: #07cb002c;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: #08CB00;
    text-align: center;
    border: 2px solid #08CB00;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #08CB00;
    padding: 0px 10px;
}

#about h2 {
    color: #F0F3FF;
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;

    span {
        color: #08CB00;
        text-shadow: 0px 0px 7px #08CB00;
    }
}

.about-content {
    display: flex;
}

.player-card {
    background-color: #0f0f2070;
    font-family: "Press Start 2P";
    border: 2px solid #0F0F20;
    width: fit-content;
    margin-right: 100px;
    margin-bottom: 25px;
}



.player-img {
    height: 111px;
    width: 111px;
    margin: 30px 150px;
    border: 2px solid #08CB00;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #08CB00;
}

.player-name-status {
    text-align: center;
}

.about-paraghraph {
    font-family: "Rajdhani";
    color: #F0F3FF;
    font-size: 30px;
    text-align: justify;

    span {
        color: #08CB00;
        font-weight: bold;
        text-shadow: 0px 0px 7px #08CB00;
    }
}

.exp-container {
    display: flex;
    gap: 11px;

}

.exp-outer {
    border: 2px solid #08CB00;
    width: fit-content;
    height: fit-content;
    padding: 0px;
}

.exp-inner {
    height: 13px;
    width: 300px;
}

.resume-download {
    background-color: #07cb0036;
    color: #08CB00;
    border: 2px solid #08CB00;
    box-shadow: 0px 0px 7px #08CB00;
    font-family: "Press Start 2P";
    text-align: left;
    width: 419px;
    padding: 13px;
}

/* SKILLS STYE */

#skills {
    background-color: #030308;
    padding: 50px 100px 50px 100px;
}

#skills h3 {
    margin-left: 30px;
    margin-right: 30px;
}

#skills h2 {
    font-family: "Press Start 2P";
    letter-spacing: 5px;
    font-size: 32px;
    color: #F0F3FF;
    text-align: center;
    margin-bottom: 50px;

    span {
        color: #08CB00;
        text-shadow: 0px 0px 7px #08CB00;
    }
}

.main-neon-frame {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 0;
    border: 2px solid #08CB00;
    border-radius: 5px;
    box-shadow: 0px 0px 7px #08CB00;
    font-family: "Press Start 2P";
}

.character-pane {
    display: grid;
    border-right: 2px solid #08CB00;
    box-shadow: 0 0 7px #08CB00;
    padding-right: 50px;
    padding-left: 50px;
}

.char-nickname {
    display: flex;
    color: #F0F3FF;
    justify-content: center;
    margin: 15px;
}

.pixel-char {
    width: 100%;
    max-width: 250px;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 2px solid #08CB00;
    border-radius: 8px;
    box-shadow: 0 0 7px #08CB00;
    image-rendering: pixelated;
}

.hp-container,
.mp-container {
    display: flex;
    align-items: center;
    gap: 11px;
    color: #F0F3FF;
    margin-bottom: 10px;
}


.hp-outer,
.mp-outer {
    border: 2px solid #bcbcc4;
    border-radius: 3px;
    width: fit-content;
    height: fit-content;
    padding: 0px;
}

.hp-inner,
.mp-inner {
    display: flex;
    max-height: 20px;
    width: fit-content;
    /* overflow: hidden; */
    padding: 0;
}

.hp-point {
    background-color: #ff0000;
    border: 2px solid #363638;
    border-radius: 2px;
    box-shadow: 0 0 11px #ff0000;
    height: 16px;
    width: 12px;
}

.mp-point {
    background-color: #59CAC7;
    border: 2px solid #363638;
    border-radius: 2px;
    box-shadow: 0 0 11px #59CAC7;
    height: 16px;
    width: 12px;
}

.char-status {
    text-align: justify;
    color: #F0F3FF;
    font-size: 15px;

    span {
        color: #08CB00;
        text-shadow: 0 0 7px #08CB00;
    }
}

.skill-pane {
    display: grid;
    grid-template-rows: repeat(4, auto)1fr;
    padding: 40px;
    gap: 30px;
    color: #F0F3FF;
}

.skill-category h3 {
    padding: 0;
    margin: 0;
    padding-left: 0;
    padding-bottom: 12px;
}

.skill-grid {
    display: grid;
    grid-template-columns: repeat(6, 70px);
    padding-left: 30px;
    gap: 20px;
}

.skill-box img {
    width: 70px;
    height: 70px;
    display: grid;
    width: fit-content;
    padding: 5px;
    place-items: center;
    border: 2px solid #F0F3FF;
    box-shadow: 0 0 7px #F0F3FF;
    border-radius: 5px;
}

.potential-skill-grid {
    display: grid;
    border: 2px solid #FF3131;
    border-radius: 5px;
    box-shadow: 0 0 7px #FF3131;
    width: 410px;
    grid-template-columns: repeat(4, 70px);
    margin-left: 30px;
    gap: 30px;
}

.potential-skill-box img {
    filter: grayscale(100%) opacity(0.5);
    width: 70px;
    height: 70px;
    display: grid;
    width: fit-content;
    padding: 5px;
    place-items: center;
    border: 2px dashed #ccd1e4;
    border-radius: 5px;
    margin: 12px;
    cursor: help;
}

.potential-skill-box img:hover {
    filter: grayscale(0) opacity(1);
    border-color: #FF3131;
}

#project {
    margin: 0px;
    background-color: #070712;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

#project h2 {
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
    color: #F0F3FF;

    span {
        color: #08CB00;
        text-shadow: 0 0 7px #08CB00;
    }
}

.project-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    place-items: center;
}

.project-card {
    display: grid;
    grid-template-rows: repeat(4, auto);
    padding: 20px;
    gap: 20px;
    width: fit-content;
    border: 2px solid #363638;
    border-radius: 10px;
    background-color: #0F0F20;
}

.img-box {
    width: 350px;
    height: 200px;
    background-image: url(assets/images/Asa.jfif);
    background-size: cover;
    background-position: center;
    border: 1px solid #08CB00;
    box-shadow: 0 0 7px #08CB00;
    border-radius: 10px 10px 0 0;
}

.project-title {
    display: grid;
    grid-template-rows: repeat(2, auto);
    gap: 15px;
    font-family: "Press Start 2P";
    color: #F0F3FF;
}

.tech {
    display: flex;
    gap: 10px;
}

.tech-use {
    font-size: 12px;
    width: fit-content;
    border: 2px solid #59CAC7;
    border-radius: 2px;
    box-shadow: 0 0 7px #59CAC7;
    padding: 8px 12px 8px 12px;
}

.explanation-project p{
    margin: 0;
    text-align: justify;
    font-family: "Rajdhani";
    color: #F0F3FF;
    max-width: 350px;
    font-size: 20px;
}

.project-category span{
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 5px;
    font-family: "Rajdhani";
    color: #F0F3FF;
}

.project-category-list {
    display: flex;
    gap: 10px;
}

.project-category-list i{
    color: yellow;
}

#contact {
    margin: 0px;
    background-color: #030308;
    padding-top: 50px;
    padding-left: 100px;
    padding-right: 100px;
    padding-bottom: 50px;
}

#contact h2 {
    letter-spacing: 5px;
    text-align: center;
    margin-bottom: 50px;
    font-size: 32px;
    color: #F0F3FF;

    span {
        color: #08CB00;
        text-shadow: 0 0 7px #08CB00;
    }
}

.contact-grid {
    display: grid;
    grid-template-columns: 550px 1fr;
    gap: 30px;
}

.information-section-grid {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 15px;
}

.information-grid {
    display: grid;
    grid-template-rows: repeat(3, 98px);
    gap: 15px;
}

.information-section {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    gap: 10px;
}

.item{
    display: flex;
    gap: 20px;
    border: 2px solid #121226;
    border-radius: 5px;
    background-color: #0A0A17;
    padding: 25px;
    align-items: center;
    height: fit-content;
}

.item i {
    display: flex;
    height: 40px;
    width: 40px;
    border: 2px solid #08CB00;
    border-radius: 3px;
    box-shadow: 0 0 7px #08CB00;
    color: #08CB00;
    justify-content: center;
    align-items: center;
}

.inner-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: "Press Start 2P";
    color: #AEA9A4;
}

.inner-item span{
    margin: 0;
    font-size: 9px;
    color: #3A425F;
}
.inner-item p{
    margin: 0;
    font-family: "Rajdhani";
    font-size: 17px;
}

.text-style {
    display: flex;
    font-family: "Rajdhani";
    font-size: 17px;
    align-items: center;
}

.dot {
    height: 12px;
    width: 12px;
    border: 1px solid #030308;
    background-color: #08CB00;
    box-shadow: 0 0 7px #08CB00;
    border-radius: 20px;
    margin-right: 10px;
}

.style-span {
    color: #3F3642;
    font-family: "Press Start 2P";
    font-size: 13px;
}

.link-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 10px;
    margin-top: 15px;
}

.link-container {
    border: 2px solid #121226 ;
    border-radius: 3px;
    background-color: #0A0A17;
    padding: 15px;
    color: #6D7778;
    font-family: "Rajdhani";
    font-size: 17px;
}

.contact-container {
    border: 2px solid #121226;
    border-radius: 3px;
    background-color: #0A0A17;
    padding: 30px;
}

.input-container {
    display: grid;
    grid-template-rows: repeat(4, auto);
    gap: 20px;
    color: #6D7778;
    font-family: "Press Start 2P";
    font-size:  0.8rem;
}

.input-person-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.input-style {
    display: flex;
    padding: 20px;
    gap: 12px;
    border: 2px solid #121226;
    border-radius: 3px;
    background-color: #0A0A17;
    color: #F0F3FF;
    margin-top: 20px;
}

.input-style input {
    font-family: "Rajdhani";
    background: transparent;
    color: #F0F3FF;
    border: none;
    outline: none;
}

.input-style i{
    display: flex;
    align-items: center ;
}

.input-style-large textarea{
    width: 100%;
    background: transparent;
    border: none;
    outline: none;
    color: #F0F3FF;
    font-family: "Rajdhani";
    font-size: 1.2rem;
    resize: none;
}

.input-style-large {
    display: flex;
    padding: 15px;
    gap: 15px;
    border: 2px solid #121226;
    border-radius: 3px;
    background-color: #0A0A17;
    align-items: flex-start;
    min-height: 150px;
}

.input-style-large i {
    color: #F0F3FF;
    margin-top: 5px;
}

.contact-submit {
    border: 2px solid #08CB00;
    border-radius: 3px;
    box-shadow: 0 0 7px #08CB00;
    margin-top: 10px;
    padding-top: 25px;
    padding-bottom: 25px;
    text-align: center;
    font-family: "Press Start 2P";
    background: transparent;
    color: #08CB00;
}

footer {
    background-color: #05050C;
    padding: 50px 100px 50px 100px
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    place-items: center;
}

.footer-grid p {
    font-family: "Rajdhani";
    color: #2C2C37;
    margin: 0;
}

.red-color { color: red; font-weight: bold; text-shadow: 0 0 7px red;}
.green-color { color: #08CB00; font-weight: bold; text-shadow: 0 0 7px #08CB00;}

.main-footer-grid {
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 20px;
    place-items: center;
    color: #474753;
    font-family: "Rajdhani";
}

.main-title-footer h1 {
    font-family: "Press Start 2P";
    font-size: 20px;
}

.decoration-grid {
    display: grid;
    grid-template-columns: repeat(6, auto);
    gap: 10px;
    width: fit-content;
}

.line-3-grid {
    display: grid;
    grid-template-columns: repeat(3, 8px);
    gap: 2px;
}

.line-3-1 {
    height: 25px;
    width: 7px;
    background-color: #2B2B42;
}

.line-3-2 {
    height: 25px;
    width: 7px;
    background-color: #161C2E;
}

.line-3-3 {
    height: 25px;
    width: 7px;
    background-color: #171E27;
}

.line-5-grid {
    display: grid;
    grid-template-columns: repeat(6, 8px);
    gap: 2px;
}

.main-footer-button {
    border: 2px solid #08CB00;
    border-radius: 5px;
    box-shadow: 0 0 7px #08CB00;
    background-color: transparent;
}

.main-footer-button a {
    text-decoration: none;
    font-family: "Press Start 2P";
    color: #08CB00;
    font-size: 7px;
    margin-left: 12px;
    margin-right: 12px;
}

.footer-cta {
    display: flex;
    gap: 12px;
    font-family: "Press Start 2P";
    text-align: center;
}

.footer-cta a {
    text-decoration: none;
    color: #2C2C37;
    font-size: 12px;
}








